# IMDB 5000 movie metadata

We will start by loading the dataset into a pandas dataframe, and inspect the attributes of the first entry.

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("./data/movie_metadata.csv")
print(df.iloc[1])

color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                     302
duration                                                                   169
director_facebook_likes                                                    563
actor_3_facebook_likes                                                    1000
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                   40000
gross                                                              3.09404e+08
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                          Pirates of the Caribbean: At World's EndÂ
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                         0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                      1238
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                   3e+08
title_year                                                                2007
actor_2_facebook_likes                                                    5000
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object

# A detailed explanation of the attributes of the data.

This dataset consists of 28 different attributes and they together hold information about a movie.

## Attribute description

A detailed explination of the attributes is shown in the table below. Where each attribute can be discrete or continous, and each attributes' objects are of different types.
<br>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-amwm">Attribute</th>
    <th class="tg-amwm">Description</th>
    <th class="tg-amwm">Discrete/Continous</th>
    <th class="tg-amwm">Type of attribute</th>
  </tr>
  <tr>
    <td class="tg-yw4l">movie_title</td>
    <td class="tg-yw4l">Holds title of the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">director_name</td>
    <td class="tg-yw4l">Name of director of the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">color</td>
    <td class="tg-yw4l">Shown in color or black and white.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">duration</td>
    <td class="tg-yw4l">Duration of the movie in minutes.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_1_name</td>
    <td class="tg-yw4l">Name of lead actor.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_2_name</td>
    <td class="tg-yw4l">Name of second actor.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_3_name</td>
    <td class="tg-yw4l">Name of third actor.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">title_year</td>
    <td class="tg-yw4l">Year of release.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Interval</td>
  </tr>
  <tr>
    <td class="tg-yw4l">genres</td>
    <td class="tg-yw4l">Genres the movie belongs to.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">aspect_ratio</td>
    <td class="tg-yw4l">Aspect ratio</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">facenumber_in_poster</td>
    <td class="tg-yw4l">Number of faces shown in movie poster.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">language</td>
    <td class="tg-yw4l">Language spoken in the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">country</td>
    <td class="tg-yw4l">Country where the movie is filmed.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">budget</td>
    <td class="tg-yw4l">Cost of the movie.</td>
    <td class="tg-baqh">Continous</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">gross</td>
    <td class="tg-yw4l">Income of the movie.</td>
    <td class="tg-baqh">Continous</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">movie_facebook_likes</td>
    <td class="tg-yw4l">Count of facebook likes for the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">director_facebook_likes</td>
    <td class="tg-yw4l">Count of facebook likes the director has.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_1_facebook_likes</td>
    <td class="tg-yw4l">Facebook likes actor 1 has.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_2_facebook_likes</td>
    <td class="tg-yw4l">Facebook likes actor 2 has.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">actor_3_facebook_likes</td>
    <td class="tg-yw4l">Facebook likes actor 3 has.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">cast_total_facebook_likes</td>
    <td class="tg-yw4l">Total facebook likes for the whole cast of the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">plot_keywords</td>
    <td class="tg-yw4l">Keywords describing the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Nominal</td>
  </tr>
  <tr>
    <td class="tg-yw4l">content_rating</td>
    <td class="tg-yw4l">Rating of the movie.</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">num_user_for_reviews</td>
    <td class="tg-yw4l">Number of users who wrote reviews.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">num_critic_for_reviews</td>
    <td class="tg-yw4l">Number of critics who wrote reviews.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">num_voted_users</td>
    <td class="tg-yw4l">Count of users who have voted the movie.</td>
    <td class="tg-baqh">Discrete</td>
    <td class="tg-baqh">Ratio</td>
  </tr>
  <tr>
    <td class="tg-yw4l">movie_imdb_link</td>
    <td class="tg-yw4l">Holds a link to the movie on the site imdb.</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">imdb_score</td>
    <td class="tg-yw4l">Movie score on IMDB.</td>
    <td class="tg-baqh">Continous</td>
    <td class="tg-baqh">Ordinal</td>
  </tr>
</table>

## Summary statistics

A summary over the different attributes of the dataset.

In [13]:
df = df.dropna() # The NA values are not considered in the summary statistics of the attributes
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,3756.000000,3756.000000,3756.000000,3756.000000,3756.000000,3.756000e+03,3.756000e+03,3756.000000,3756.000000,3756.000000,3.756000e+03,3756.000000,3756.000000,3756.000000,3756.000000,3756.000000
mean,167.378328,110.257987,807.336528,771.279553,7751.338658,5.261282e+07,1.058267e+05,11527.101970,1.377263,336.843184,4.623685e+07,2002.976571,2021.775825,6.465282,2.111014,9353.829340
std,123.452040,22.646717,3068.171683,1894.249869,15519.339621,7.031787e+07,1.520354e+05,19122.176905,2.041541,411.227368,2.260103e+08,9.888108,4544.908236,1.056247,0.353068,21462.889123
min,2.000000,37.000000,0.000000,0.000000,0.000000,1.620000e+02,9.100000e+01,0.000000,0.000000,4.000000,2.180000e+02,1927.000000,0.000000,1.600000,1.180000,0.000000
25%,77.000000,96.000000,11.000000,194.000000,745.000000,8.270233e+06,1.966700e+04,1919.750000,0.000000,110.000000,1.000000e+07,1999.000000,384.750000,5.900000,1.850000,0.000000
50%,138.500000,106.000000,64.000000,436.000000,1000.000000,3.009311e+07,5.397350e+04,4059.500000,1.000000,210.000000,2.500000e+07,2004.000000,685.500000,6.600000,2.350000,227.000000
75%,224.000000,120.000000,235.000000,691.000000,13000.000000,6.688194e+07,1.286020e+05,16240.000000,2.000000,398.250000,5.000000e+07,2010.000000,976.000000,7.200000,2.350000,11000.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,16.000000,349000.000000