# IMDB 5000 movie metadata

We will start by loading the dataset into a pandas dataframe, and inspect the attributes of the first entry

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv("./data/movie_metadata.csv")
print(df.iloc[2])

color                                                                    Color
director_name                                                       Sam Mendes
num_critic_for_reviews                                                     602
duration                                                                   148
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     161
actor_2_name                                                      Rory Kinnear
actor_1_facebook_likes                                                   11000
gross                                                              2.00074e+08
genres                                               Action|Adventure|Thriller
actor_1_name                                                   Christoph Waltz
movie_title                                                           SpectreÂ
num_voted_users                                                         275868
cast_total_facebook_likes                                                11700
actor_3_name                                                  Stephanie Sigman
facenumber_in_poster                                                         1
plot_keywords                              bomb|espionage|sequel|spy|terrorist
movie_imdb_link              http://www.imdb.com/title/tt2379713/?ref_=fn_t...
num_user_for_reviews                                                       994
language                                                               English
country                                                                     UK
content_rating                                                           PG-13
budget                                                                2.45e+08
title_year                                                                2015
actor_2_facebook_likes                                                     393
imdb_score                                                                 6.8
aspect_ratio                                                              2.35
movie_facebook_likes                                                     85000
Name: 2, dtype: object